/* All pages */


.header{
    position: fixed;
    top: 0;
    width:100%;
    margin-bottom: 0px;
    z-index:1;
}

.social{
   
    position: relative;
    
}

body {
    background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Minimalist-Crumpled-Paper-Simple-Background-Image.jpg") ;
    background-color: #cccccc ;
   }
   
footer{ 
    position: fixed;
    bottom: 0;
    height: 20px;
    width: 100%;
    background-color: rgb(67, 65, 65);
    border-top: 5px rgb(38, 131, 123) solid;

}

/* index.html style */

article{
    background-color: white;
    margin-top: 100px;
}

.aboutme{
    margin-left: 35px;
    font-size: 35px;
    color: rgb(38, 131, 123);
    
}

.imagewrap{
    margin-left: 35px;
    padding:0px 20px 0px 0px;
    width: 300px;
    float:left;
}

.text{
    margin-left: 35px;
}



/* contact.html style */
.contact-box{
    margin-top: 150px;
}


/* for portfolio.html */

.portfoliopics{
    
    margin: 10px 0px 10px 0px;
}




